body{
    background: rgb(198, 198, 207);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,162,161,1) 35%, rgba(0,212,255,1) 100%);
background-attachment: fixed;
margin: 0;
font-family:'poppins',sans-serif;
}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: rgba(0,212,255,1);
}
#form button{
    background-color: rgba(0,212,255,1);
    color: white;
    border: 1px solid  rgba(0,212,255,1);
    padding: 15px;
    margin: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    }

    .input-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .input-group input{
        
    }